<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="account.css"/>
  </head>
    <% if session[:user] != nil %>
      <body id="screen">
      <img src="groot.png"/>
      <h1><%= session[:user][:first_name] + " " + session[:user][:last_name] %></h1>
      <h2><%= session[:user][:birthday] %></h2>
      <h2><%= session[:user][:email] %></h2>
      <div id="action_buttons">
        <a href="/createpost">Create Post</a>
        <a href="/logout">Logout</a>
        <a href="/delete">Delete Account</a>
      </div>
    </body>
    <% else %>
      <body>
      <h1><%= "Please Log In or Sign Up" %></h1>
      </body>
    <% end %>
</html>
