<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create Post</title>
  </head>
  <body>
    <form action="/createpost" method="POST">
      <input type="text" name="title" placeholder="Title"/><br/><br/>
      <textarea name="content" placeholder="Enter content here...."></textarea><br/><br/>
      <input type="submit" value="Post"/>
    </form><br/>
    <a href="/"><button>Home</button></a>
  </body>
</html>
