<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rumblr</title>
    <link rel="stylesheet" type="text/css" href="home.css"/>
  </head>
  <body id="screen">
    <h1>Rumblr</h1>
  </body>
</html>
