<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rumblr</title>
    <link rel="stylesheet" type="text/css" href="home.css"/>
  </head>
  <body id="screen">
    <h1>Rumblr</h1>

    <div id="home_text">
      <p>
        Welcome to Rumblr, the adventure blog. An adventure is an exciting experience that is typically a bold, sometimes risky, undertaking. They are stories most definitely worth telling. Feel free to share your adventures here.
      </p>
    </div>

    <% if session[:user] == nil %>
    <div id="account_buttons">
      <a href="/signup">Sign Up</a>
      <a href="/login">Log In</a>
    </div>
    <% else %>
    <div id="account_buttons">
      <a href="/account">My Account</a>
    </div>
    <% end %>
  </body>
</html>
