<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Posts</title>
  </head>
  <body>
    <% counter = @posts.length - 1 %>
    <% 20.times do %>
      <p><%= @posts[counter][:title] %></p>
      <% counter -= 1 %>
    <% end %>
  </body>
</html>
