<form action="/signup" method="POST">
  <label>Email:</label><br/>
  <input type="email" name="email" placeholder="Email"/><br/><br/>
  <label>First Name:</label><br/>
  <input type="text" name="first_name" placeholder="First Name"/><br/><br/>
  <label>Last Name:</label><br/>
  <input type="text" name="last_name" placeholder="Last Name"/><br/><br/>
  <label>Password:</label><br/>
  <input type="password" name="password" placeholder="Password"/><br/><br/>
  <label>Birthday:</label><br/>
  <input type="date" name="birthday" placeholder="Happy Birthday!"/><br/><br/>

  <input type="submit" value="Sign Up"/>
</form>
