@font-face {
    font-family: fancy_mancy;
    /* src: url(Rumburak.ttf); */
    src: url(SCRIPTIN.ttf);
}

#screen {
  background-image: url('https://i.imgur.com/bqUVaU9.gif');
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

h1{
  margin-top: 5%; /* This is to center all content in the page vertically since I wanted everyting in the central area */
  font-family: fancy_mancy;
  text-align: center;
  font-size: 400%;
  color:white;
}

#home_text{
  margin: 0 auto;
  width:70%;
  border-radius: 6px;
  padding: 1%;
  font-size: 150%;
  text-align: center;
  background-color: white;
}

#account_buttons{
  text-align: center;
  padding-top: 4%;
}

a{
  background-color: white;
  color:black;
  border-radius: 4px;
  padding: 1.5%;
  text-decoration: none;
}

a:visited{
  color:black;
}

a:hover{
  background-color: lightgreen;
}
