#screen{
  background-image: url('https://i.redd.it/9d9w6pkirihz.jpg');
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#post-grid{
  display: grid;
  grid-template:40vh 40vh 40vh 40vh 40vh 40vh 40vh/ 32vw 32vw 32vw;
  text-align: center;
  grid-gap:1vw;
  margin-top: 1.5%;
}

.grid-cell{
  background-color: white;
  border-radius: 4px;
  border:2px solid black;
  opacity: 0.8;
}

a{
  text-decoration: none;
  border-radius: 4px;
  background-color: white;
  padding:1%;
  color:black;
}

a:visited{
  color:black;
}
